In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

from pathlib import Path

In [2]:
# create a Path instance and filter for only csv files
files = Path(r"C:\Users\User\Desktop\Data sets").rglob("*.csv")

# read in all the csv files
df= [pd.read_csv(file) for file in files]


# lump into one table

df= pd.concat(df)
df

             DATE          USER           SDP_STATUS
0        20190101     301727881               ACTIVE
1        20190101  573750881901               ACTIVE
2        20190101     647515981  INSTALLED_PREACTIVE
3        20190101     647317881               ACTIVE
4        20190101     479756981  INSTALLED_PREACTIVE
...           ...           ...                  ...
3524184  20191231     126385181               ACTIVE
3524185  20191231     354397181               ACTIVE
3524186  20191231     411679181               ACTIVE
3524187  20191231     726623181               CUTOFF
3524188  20191231     329619181  INSTALLED_PREACTIVE

[83575392 rows x 3 columns]

# Checking the null values

In [3]:
df.isnull().sum()

DATE          0
USER          0
SDP_STATUS    0
dtype: int64

# Cheking the total of duplicated values

In [4]:
df.duplicated().sum()

157

# Removing the duplicated values

In [5]:
df.drop_duplicates( inplace=True)

# Cheking how long a certain user have been active
### The most extended a user have been active is a year

In [6]:
period=df.groupby(['USER','SDP_STATUS']).size()
period

USER          SDP_STATUS
81            ACTIVE        24
281           ACTIVE        24
381           ACTIVE        24
481           ACTIVE        24
581           ACTIVE        24
                            ..
999950881901  ACTIVE        24
999960881901  ACTIVE        24
999970881901  ACTIVE        24
999980881901  ACTIVE        21
999990881901  ACTIVE        24
Length: 9283442, dtype: int64

# Saving the period data frame to a csv file

In [8]:
period.to_csv('Extended.csv')

# Showing results after reading the saved csv file

In [13]:
data=pd.read_csv('Extended.csv')
data.head(60)

    USER           SDP_STATUS   0
0     81               ACTIVE  24
1    281               ACTIVE  24
2    381               ACTIVE  24
3    481               ACTIVE  24
4    581               ACTIVE  24
5    681               ACTIVE  24
6    781               ACTIVE  24
7   1181               ACTIVE  24
8   1281               ACTIVE  24
9   1381               ACTIVE  24
10  1581               ACTIVE  24
11  1681               ACTIVE  16
12  1681            SUSPENDED   8
13  1781               ACTIVE  24
14  2181               ACTIVE  23
15  2181              EXPIRED   1
16  2281               ACTIVE  24
17  2381               ACTIVE  24
18  2481  INSTALLED_PREACTIVE  24
19  2581               ACTIVE  15
20  2681               ACTIVE  24
21  2781               ACTIVE  24
22  3181               ACTIVE  24
23  3281               ACTIVE  24
24  3381               ACTIVE  24
25  3481               ACTIVE  24
26  3581               ACTIVE  24
27  3681               ACTIVE  24
28  3781               ACTIVE  24
29  4281               ACTIVE  19
30  4281               CUTOFF   3
31  4281              EXPIRED   2
32  4381               ACTIVE  24
33  4481               ACTIVE  19
34  4481               CUTOFF   3
35  4481              EXPIRED   2
36  4581               ACTIVE   1
37  4581               CUTOFF   5
38  4581              EXPIRED   1
39  4681               ACTIVE  24
40  4781               ACTIVE  24
41  4881               ACTIVE  24
42  5181               ACTIVE  24
43  5281               ACTIVE  24
44  5381               ACTIVE  24
45  5481               ACTIVE  24
46  5581               ACTIVE  24
47  5681               ACTIVE  24
48  5781               ACTIVE  24
49  5881               ACTIVE  24
50  6181               ACTIVE  13
51  6181               CUTOFF   4
52  6181              EXPIRED   2
53  6281               ACTIVE  24
54  6381               ACTIVE   7
55  6381              EXPIRED   1
56  6381  INSTALLED_PREACTIVE   9
57  6581               ACTIVE  24
58  6681               ACTIVE  24
59  6781               ACTIVE  24

In [14]:
expired=data[(data["SDP_STATUS"]=='EXPIRED') & (data["SDP_STATUS"]=='ACTIVE')] 
expired

Empty DataFrame
Columns: [USER, SDP_STATUS, 0]
Index: []